# =========================
# Python Cache
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# PyInstaller Build Artifacts
# =========================
build/
dist/
*.spec

# =========================
# App Specific Local Data
# =========================
scans_log.txt
scans_log.csv
*.csv

# =========================
# OS Specific Files
# =========================
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini